#!/usr/bin/make -f
export QT_SELECT = qt5
include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- DCC_DISABLE_LANG_SETTING=YES DCC_DISABLE_ANIMATION=YES DCC_CACHE_MODULES=YES ARCH_MIPSEL=YES WITH_MODULE_GRUB=NO  WITH_MODULE_WACOM=NO WITH_MODULE_SYSINFO_UPDATE=NO  WITH_MODULE_REMOTE_ASSIST=NO

override_dh_strip:
	dh_strip 
